<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     
    PUBLIC "-//mybatis.org//DTD SQL Mapper 3.0//EN"      
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.moebius.board.BoardMapper">
		<select id="getBoardList" parameterType="Pagination" resultType="BoardVO">
			SELECT b.board_no, b.board_title, u.user_name AS "userVO.user_name", u.user_id AS "userVO.user_id", b.board_regdate, b.board_count
			FROM m_user u JOIN m_board b
							ON u.user_id = b.user_id
			WHERE b.bno=#{bno}
			ORDER BY b.board_no DESC;
		</select>
		
		<select id="getBoardInfo" parameterType="int" resultType="BoardInfoVO">
			SELECT bno, bname, user_id
			FROM m_board_info
			WHERE bno = #{bno}
		</select>
</mapper>