@CHARSET "UTF-8";
.logo {width: 200px; float: left;}
.movie {width:200px; float: left;}
.reserve {width: 200px; float: left;}
.board {width:200px; float:left;}
.login {width:60px;float:right;}
.regist {width:80px;float:right;}